
.vs/

NTDLS.Persistence/bin/

NTDLS.Persistence/obj/

TestHarness/bin/

TestHarness/obj/

NTDLS.DelegateThreadPool/bin/

NTDLS.DelegateThreadPool/obj/

NTDLS.DelegateThreadPooling/bin/

NTDLS.DelegateThreadPooling/obj/

PerformanceTest/obj/

PerformanceTest/bin/
